[submodule "ihmc-pub-sub/thirdparty/Fast-RTPS"]
	path = ihmc-pub-sub/thirdparty/Fast-DDS
	url = https://github.com/eProsima/Fast-DDS.git
[submodule "ihmc-pub-sub/thirdparty/foonathan_memory_vendor"]
	path = ihmc-pub-sub/thirdparty/foonathan_memory_vendor
	url = https://github.com/eProsima/foonathan_memory_vendor
